//-文章列表
extends layout

block content
  include ./_partical/info.pug
  .markdown-body
    | !{article}
block script
  script(src="https://cdn.bootcss.com/viz.js/2.1.2/viz.js")
  script(src="https://cdn.bootcss.com/viz.js/2.1.2/full.render.js")
  script(src="/js/vizRender.js")
  script(src="https://cdn.bootcss.com/pangu/4.0.7/pangu.min.js")
  script(src="https://cdn.jsdelivr.net/gh/rbookr/web-components@8d840df7e81ae052b2425129bf37e96e841b63b9/dist/viz-gallery/viz-gallery.min.js")
  script(type="text/x-mathjax-config").
    MathJax.Hub.Config({
      TeX: { extensions: ["autoload-all.js"] },
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        //-<!--$表示行内元素，$$表示块状元素 -->
        inlineMath: [ ['$','$'], ["\\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": {
        availableFonts: ["STIX","TeX"] ,
        showMathMenu:false
      },
      CommonHTML: { scale: 100 }
    });
  script(async="" src="https://cdn.bootcss.com/mathjax/2.7.6/MathJax.js?config=TeX-MML-AM_CHTML")
  script.
    pangu.spacingElementByTagName('p');
    document.addEventListener('DOMContentLoaded', () => {
      // listen to any DOM change and automatically perform spacing via MutationObserver()
      pangu.autoSpacingPage();
    });
