//-目录列表
extends layout

block content
  .catalog-body
    each catalog in catalogs
      .tree-menu-container
        if catalog.cover
          .cover
            img(src=catalog.cover, alt="")
        tree-menu(treedata=catalog)
block script
  //-script(src="https://cdn.jsdelivr.net/gh/rainboylvx/vue-tree-menu@7376ecfcefb5b8e0527b37de4828250604b62229/dist/tree-menu.min.js")
  script(src="/js/tree-menu.min.js")
