doctype html
html
  head
    title= config.site_name+"-"+title
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel='stylesheet', href="//at.alicdn.com/t/font_1476567_ntp3ei4qazn.css")
    link(rel='stylesheet', href='/github-markdown.css')
    link(rel='stylesheet', href='/markdown-r.css')
    link(rel='stylesheet', href='https://cdn.bootcss.com/prism/9000.0.1/themes/prism-tomorrow.min.css')
    link(rel="stylesheet", href="https://cdn.bootcss.com/font-awesome/5.11.2/css/fontawesome.min.css")
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/tooltip.css')
    link(rel='stylesheet', href='/font/font.css')
  body
    include ./_partical/head.pug
    div.container-wrapper
      div.container
        block content
    include ./_partical/footer.pug
    script(src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js")
    script(src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js")
    script(src="/js/app.js")
    block script

