//-文章列表
extends layout

include ./_partical/pagination.pug
include ./_partical/icon.pug
block content
  .article-list
    each item,index in list
      .article-box
        .id.flex-center #{index}
        .box
          .article-title
            a(href="/article/"+item._id) #{item.title}
          .box-tag
            if item.head.catalog
              +icon('classifi-copy')
              span.tag
                a(href="/list?catalog="+item.head.catalog) #{item.head.catalog}
            if item.head.tags
              +icon('tag1')
              each tag in item.head.tags
                span.tag
                  a(href="/list?tag="+tag) #{tag}
    +pagination(pagination)

