//-文章列表
extends layout

include ./_partical/pagination.pug
block content
  .article-list
    .article-list-table
      table.list-table
        thead
          tr.head-table
            th.th-id #id
            th.th-title 标题
            th.th-tags 标签
            th.th-catalog 分类
        tbody
          each item,index in list
            tr
              td.td-id= index+1
              td.td-title
                a(href="/article/"+item._id) #{item.title}
              td.td-tags
                if item.head.tags
                  div.tags-content
                    each tag in item.head.tags
                      span
                        a(href="/tags?tag="+tag) tag
              td.td-catalog= item.head.catalog || ""
    p= JSON.stringify(pagination)
    +pagination(pagination)

