//-文章列表
extends layout

include  ./_partical/icon.pug
block content
  div.password-content
    h3 需要密码
    .box
      .box-icon
        +icon('password')
      input(type="password" id="password")
    button(id="submit") 提交
block script



