body {
  padding: 0;
  margin: 0; 
  }

.container-wrapper {
  padding: 0 10px; }

.container {
  max-width: 750px;
  margin: 30px auto;
  margin-bottom: 80px; }

.tree-menu-container .cover {
  display: flex;
  justify-content: center;
  align-items: center; }
  .tree-menu-container .cover img {
    max-height: 200px; }

span.tag {
  background: rgba(204, 204, 204, 0.1);
  margin: 1px 1px;
  padding: 3px;
  border: 1px solid rgba(204, 204, 204, 0.3); }
  span.tag a {
    text-decoration: none; }
  span.tag:hover {
    background: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 3px; }
    span.tag:hover a {
      color: rgba(0, 0, 0, 0.6); }

span.tag-split {
  margin: 0 1rem; }
  span.tag-split::before {
    content: "|"; }

.markdown-body a, .markdown-body pre, .markdown-body pre > code {
  font-family: 'Ubuntu Mono',monospace !important; }


.site-header {
  height: 250px;
  width: 100%;
  padding: 1.5rem 0;
  color: #d5d5d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }
  .site-header .site-header-title {
    flex-grow: 1;
    display: flex;
    align-items: center; }
    .site-header .site-header-title h3 {
      margin: 0;
      font-size: 4.2rem;
      color: #d5d5d5;
      text-shadow: 5px 5px 5px #333;
      text-align: center; }
    @media screen and (max-width: 600px) {
      .site-header .site-header-title h3 {
        font-size: 3.2rem; } }
  .site-header .site-header-menu {
    flex-grow: 0; }
    .site-header .site-header-menu ul {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      color: #d5d5d5;
      display: flex; }
      .site-header .site-header-menu ul li {
        list-style: none;
        margin: 5px 10px; }
        .site-header .site-header-menu ul li i, .site-header .site-header-menu ul li span {
          font-size: 2.2rem; }
        .site-header .site-header-menu ul li:hover {
          background: #fff;
          font-weight: bolder; }
          .site-header .site-header-menu ul li:hover a {
            color: rgba(0, 0, 0, 0.6); }
        .site-header .site-header-menu ul li a {
          text-decoration: none;
          text-shadow: 5px 5px 5px #333;
          padding: 5px;
          border-radius: 3px;
          color: #d5d5d5;
          text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.4); }
          .site-header .site-header-menu ul li a i {
            margin: 0 5px; }
        @media screen and (max-width: 1000px) {
          .site-header .site-header-menu ul li a .iconfont {
            font-size: 1.5rem; }
          .site-header .site-header-menu ul li span.menu_name {
            display: none; } }

.header-background {
  background-color: #808080;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 30px;
  z-index: 100;
  flex-direction: row;
  justify-content: center;
  color: #7c7c7c;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-width: 1px 0 0; }
  footer h5 {
    margin: 0;
    font-family: 'Ubuntu Mono';
    height: 30px;
    line-height: 30px;
    padding: 0 10px; }
  footer a {
    font-family: 'Ubuntu Mono';
    color: #2c2c2c;
    font-weight: bolder; }
  footer a:hover {
    color: lightblue; }

.article-list .flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.article-list .article-box {
  display: flex;
  height: auto;
  border: 1px solid #ccc;
  margin: 10px 10px;
  border-radius: 3px; }
  .article-list .article-box .id {
    background: #377D6A;
    color: #f2f2f2;
    flex-grow: 0;
    height: auto;
    font-size: 3rem;
    width: 50px; }
  .article-list .article-box .box {
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
    .article-list .article-box .box .article-title {
      font-size: 1.5rem;
      padding: 0.5rem;
      background: #ccc; }
      .article-list .article-box .box .article-title a {
        text-decoration: none; }
      .article-list .article-box .box .article-title:hover {
        background: #d9d9d9;
        font-weight: bold; }
    .article-list .article-box .box .box-tag {
      padding: 0.5rem; }

.markdown-body .toc-body {
  position: fixed;
  right: 30px;
  top: 20px;
  border: 1px solid #d2d2d2;
  background: #f8f8f8;
  padding: 0;
  border-radius: 2px;
  width: 230px; }
  .markdown-body .toc-body.toc-content-hidden {
    width: 60px; }
    .markdown-body .toc-body.toc-content-hidden .toc-content {
      display: none; }
    .markdown-body .toc-body.toc-content-hidden .toc-title h3 {
      display: none; }
    .markdown-body .toc-body.toc-content-hidden .toc-title:after {
      content: '+'; }
  .markdown-body .toc-body .toc-title {
    height: 46px;
    text-align: center;
    width: 100%;
    background: #ccc;
    border-bottom: 1px solid #d2d2d2;
    padding: 10px 0;
    cursor: pointer; }
    .markdown-body .toc-body .toc-title h3 {
      margin: 0;
      position: relative; }
    .markdown-body .toc-body .toc-title:after {
      background: #e6e6e6;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 2px;
      content: '-';
      display: block;
      position: absolute;
      right: 20px;
      top: 10px; }
    .markdown-body .toc-body .toc-title:hover:after {
      background: white; }
  .markdown-body .toc-body .toc-content {
    padding: 1em;
    width: 100%;
    overflow-x: auto; }
  .markdown-body .toc-body ul {
    margin-left: 0; }

.pagination-container {
  display: flex;
  margin: 20px 0;
  justify-content: center; }
  .pagination-container ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0; }
    .pagination-container ul.pagination li {
      display: inline; }
      .pagination-container ul.pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd; }
      .pagination-container ul.pagination li a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50; }
      .pagination-container ul.pagination li a:hover:not(.active) {
        background-color: #ddd; }
      .pagination-container ul.pagination li a.disable {
        pointer-events: none;
        background: #f2f2f2; }

.timeline {
  font-style: normal; }
  .timeline ul li {
    text-align: left;
    position: relative;
    padding-left: 50px;
    list-style-type: none;
    margin: 0;
    display: block;
    border: 1px solid transparent; }
    .timeline ul li h3 {
      margin: 2px; }
    .timeline ul li .content {
      padding: 20px; }
    .timeline ul li i {
      position: absolute;
      left: -7.5px;
      font-weight: 900;
      font-family: 'Ubuntu Mono', monospace !important;
      border-radius: 50%;
      color: #5fb878;
      border: 2px solid #5fb878;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff; }
    .timeline ul li:before {
      content: '';
      position: absolute;
      left: 5px;
      display: block;
      background-color: #e6e6e6e6;
      height: 100%;
      width: 2px; }
    .timeline ul li pre:first-child {
      font-weight: bolder; }
    .timeline ul li pre {
      background: #dfdfdf;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.5);
      padding: 15px;
      white-space: pre-wrap !important;
      word-wrap: break-word !important;
      *white-space: normal !important;
      border-radius: 5px;
      font-family: 'Ubuntu Mono'; }

.info {
  color: #777;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-family: 'Ubuntu Mono';
  margin-bottom: 20px; }
  .info .iconfont {
    margin-right: 0.5rem; }
  .info .main {
    text-align: center; }
    .info .main span {
      border-right: 1px dotted #85878a;
      padding: 0 0.5rem; }
    .info .main span:last-child {
      border-right: none; }
  .info .tags {
    margin-top: 0.8rem;
    text-align: center; }

.password-content {
  width: 500px;
  margin: 5rem auto;
  padding: 20px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  padding-top: 5px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
  .password-content h3 {
    text-align: center; }
  .password-content .box {
    display: flex; }
    .password-content .box .box-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      padding: 0 10px;
      background: #f2f2f2; }
    .password-content .box input {
      height: 45px; }
  .password-content input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: 14px; }
  .password-content button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer; }
  .password-content button:active, .password-content button:focus, .password-content button:hover {
    background: #43A047; }

.tag_clound {
  display: flex;
  flex-wrap: wrap; }
  .tag_clound span.tag {
    font-size: 1.5rem; }
