.site-header {
  height: 250px;
  width: 100%;
  padding: 1.5rem 0;
  color: #d5d5d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }
  .site-header .site-header-title {
    flex-grow: 1;
    display: flex;
    align-items: center; }
    .site-header .site-header-title h3 {
      margin: 0;
      font-size: 4.2rem;
      color: #d5d5d5;
      text-shadow: 5px 5px 5px #333;
      text-align: center; }
    @media screen and (max-width: 600px) {
      .site-header .site-header-title h3 {
        font-size: 3.2rem; } }
  .site-header .site-header-menu {
    flex-grow: 0; }
    .site-header .site-header-menu ul {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      color: #d5d5d5;
      display: flex; }
      .site-header .site-header-menu ul li {
        list-style: none;
        margin: 5px 10px; }
        .site-header .site-header-menu ul li i, .site-header .site-header-menu ul li span {
          font-size: 2.2rem; }
        .site-header .site-header-menu ul li:hover {
          background: #fff;
          font-weight: bolder; }
          .site-header .site-header-menu ul li:hover a {
            color: rgba(0, 0, 0, 0.6); }
        .site-header .site-header-menu ul li a {
          text-decoration: none;
          text-shadow: 5px 5px 5px #333;
          padding: 5px;
          border-radius: 3px;
          color: #d5d5d5;
          text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.4); }
          .site-header .site-header-menu ul li a i {
            margin: 0 5px; }
        @media screen and (max-width: 1000px) {
          .site-header .site-header-menu ul li a .iconfont {
            font-size: 1.5rem; }
          .site-header .site-header-menu ul li span.menu_name {
            display: none; } }

.header-background {
  background-color: #808080;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover; }
