footer
  h5 power by 
    a(href="https://github.com/rbookr/rbook",target="_blank")
      i.iconfont.icon-git
      |  rbook
  if config.Author
    h5 site author 
      a(href=config.Author.link,target="_blank")
        i.iconfont.icon-author2
        |
        |
        = config.Author.name
  if config.TJ
    h5 !{config.TJ}
