- 
  var menu = [
      ['home','/','主页'],
      ['bars','/catalog','目录'],
      ['list','/list','列表'],
      ['tag','/tag','标签云'],
      ['history','/history','历史记录'],
      ['info-circle','/about','关于'],
  ]
  if(config.extra_menu)
    for(let _ of config.extra_menu )
      menu.splice(_[0],0,_.slice(1))
- 
  function get_cover(){
    if( cover )
        return cover
    if( info && info.head && info.head.cover)
      return info.head.cover
    if( config.default_cover )
      return  config.default_cover 
    return '/images/cover.gif'
  }
div.site-header.header-background( style="background-image: url("+ get_cover()+")")
  .site-header-title
    h3= title || "未知"
  .site-header-menu
    ul
      each item in menu
        if config.menu_disable.indexOf(item[2]) == -1
          li
            a(href=item[1])
              i.fa(class="fa-"+item[0])
              span.menu_name #{item[2]}
