mixin pagination(pagination)
  .pagination-container
    ul.pagination
      li
        a(href=pagination.pre class= pagination.current == 1 ? 'disable' :'') «
      each item in pagination.url
        li 
          a(href=item.url class= item.page == pagination.current ? 'active' :'') #{item.page}
      li
        a(href=pagination.next class= pagination.current == pagination.totalPage ? 'disable' :'') »
