body {
    padding:0;
    margin:0;
}

.container-wrapper {
    padding: 0 10px;
}

.container {
    max-width: 750px;
    margin: 30px auto;
    margin-bottom: 80px;
}

.tree-menu-container{
    .cover {
        display:flex;
        justify-content:center;
        align-items:center;
        img {
            max-height:200px;
        }
    }
}

span.tag {
    background: rgba($color: #ccc, $alpha: 0.1);
    margin:1px 1px;
    padding:3px;
    border: 1px solid rgba($color: #ccc, $alpha: 0.3);
    a {
        text-decoration: none;
    }

    &:hover {
        background: rgba($color: #ccc, $alpha: 1);
        border: 1px solid rgba($color: #ccc, $alpha: 1.0);
        border-radius: 3px;
        a{
            color: rgba($color: #000000, $alpha: 0.6);
            //font-weight: bolder;
        }
    }
}

span.tag-split {
    margin:0 1rem;
    &::before {
        content: "|";
    }
}


.markdown-body {
  a,pre {
    font-family: 'Ubuntu Mono',monospace !important;
  }
}

@import "./head.scss";
@import "./footer.scss";
@import "./list-table.scss";
@import "./toc.scss";
@import "./pagination.scss";
@import "./history.scss";
@import "./info.scss";
@import "./password.scss";
@import "./tag_clound.scss";
