body {
    padding: 0;
    margin:0;
}
.container {
    max-width: 750px;
    margin: 30px auto;
    margin-bottom: 80px;
}

.tree-menu-container{
    .cover {
        display:flex;
        justify-content:center;
        align-items:center;
        img {
            max-height:200px;
        }
    }
}

@import "./head.scss";
@import "./footer.scss";
@import "./list-table.scss";
@import "./toc.scss";
@import "./pagination.scss";
@import "./history.scss";
