$fontcolor: lighten($color: #222, $amount: 70%);
.site-header {
    height: 250px;
    width: 100%;
    padding: 1.5rem 0;
    color: $fontcolor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .site-header-title{
        flex-grow: 1;
        display: flex;
        align-items: center;
        h3 {
            margin: 0;
            font-size: 4.2rem;
            color: $fontcolor;
            text-shadow: 5px 5px 5px #333;

        }
        @media screen and (max-width: 600px) {
            h3 {
                font-size: 3.2rem;
            }
        }
    }

    position: relative;
    .site-header-menu{
        //height: 20px;
        flex-grow: 0;
        ul {
            margin: 0;
            padding: 0;
            font-size: 1.2em;
            color: lighten($color: #222, $amount: 70%);
            display: flex;
            li {
                list-style: none;
                margin:5px 10px;
                i,span {
                    font-size: 2.2rem;
                }
                &:hover {
                    background: #fff;
                    font-weight: bolder;
                    a {
                        color: rgba($color: #000000, $alpha: 0.6);
                    }
                }
                a {
                    text-decoration: none;
                    text-shadow: 5px 5px 5px #333;
                    padding: 5px;
                    border-radius: 3px;
                    color: $fontcolor;
                    i {
                        margin: 0 5px;
                    }
                    text-shadow: 3px 2px 3px rgba($color: #000000, $alpha: 0.4);
                }
                @media screen and (max-width: 1000px) {
                    a .iconfont {
                        font-size: 1.5rem;
                    }
                    span.menu_name {
                        display: none;
                    }
                }
            }
        }
    }
}

.header-background {
    background-color: #808080;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}


